*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: Poppins  ;
}
.backgroundimg{
  background-image: url(/image/Ellipse\ 14.jpg.png);
  background-repeat: no-repeat;
  }
.firstcontainer1{
       display: flex;
    font-family: Poppins  ;
    justify-content: space-evenly;
}
.container1 {
    width: 40%;
}
.container1 p{
    margin-top: -20px;
    color:#2c6682 ;
}
.container1 img {
    width: 90%;
}
.log{
    display: flex; 
    
}
.homecontainer{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 70px;
    margin-top: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #fffcfc;
}
.licontainer{
    margin-top: 10px;
}
li {
    float: right;
}
li a {
    display: block;
    color:#2c6682 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .buttoncontainer{
    margin-top: 10px;
  }
  .login{
    padding: 12px 30px;
  }
     button{
    background-color:#134053;
     border-radius: 8px;
    border:none;
    padding: 12px 16px;
    
  }
  button a{
    color: white;
    text-decoration: none;
  }
  #menu{
    display: none;
  }
  .container2{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    font-family: Poppins  ;
  }
  .protectioncontainer{
    width: 90%;
  }
  .container2 img{
    width: 100%;
  }
  .protectioncontainer h1 {
    font-size: 53px;
    
  }
  .protectioncontainer p{
    font-weight: 0;
    font-size: 15px;
    color: #2780a7;
  }
  .container2 button{
    margin-top: 20px;
  }
  .Service{
    text-align: center;
    font-size: 30px;
  }
  .flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

     width: 70%;
     margin-left: 15%;
     padding-top: 20px;
  }
  .contact2 a{
    color: aliceblue;
    text-decoration: none;
  }
  .flex1{
    display: flex;
    flex-direction: row;
    justify-content: center;
     width: 70%;
     margin-left: 15%;
     padding-top: 20px;
     
  }
  .flex1 img{
   margin-left: 3% ;
   margin-bottom: 20px;
  }
  .flexpart img {
    width: 30%;
  }
  .flexpart{
    background-color:#033348;
  }
  .content{
     width: 90%;
     margin-left: 5%;
     margin-bottom: 27px;
     font-family: Poppins  ;
  }

  .content h1{
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
  }
  .content p{
    padding: 9px 5px ;
  }
  .sect{
    background-color:#134053;
   }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
    color: white;
    margin-left: 12%;
    padding: 10px 10px ;
    line-height: 30px;
    font-family: Poppins  ;
  }
  .footer p:hover{
    color: #c0dd6f;
  }
  .contact2{
    padding: 12px 20px;
    line-height: 20px;
    margin-top: 5%;
    width: 100%;
  }
   h3{ 
    padding-left: 6px;
   font-size: 18px;
  }
  .connect{
    padding: 12px 35px;
  }
  #connect2{
    border-right: 1px solid rgb(245, 241, 241);
  }
  .get{
    display: flex;
  }
  #connect2 p{
    border: 1px solid white;
    width: 95%;
    background-color: white;
    color: #033348;
    padding-left: 5px;
  }

  @media only screen  and (max-width: 768px)
  { 
    .firstcontainer1{
      width: 100%;
     }
     #menu{
      display: block;
      margin-top: 8%;
     }
     .homecontainer{
      display: none;
     }
     .container1{
      width: 50%;
      padding-top: 10px
     }
     .container1 img{
      margin-left: -45%;
     }
     
     .container2{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
     }
     .container2 h1{
      font-size: 20px;
      padding-top: 10px;
     }
     .container2 p{
      font-size: 10px;
     }
     .container2 button{
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 30px;
     }
     .container1 p{
        font-size: 7px;
        margin-left: -40%;
        padding-top: 8px;
     }
     .flex{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
     }
    
     .flex{
      flex-direction: column;
      width: 80%;
      margin: auto;
     }
     .flex img{
      width: 100%;
      padding: 20px;
      margin: auto;
     }

     .flex1{
      flex-direction: column;
      width: 100%;
      margin: auto;
     }
     .flex1 img{
      width: 80%;
      padding: 20px;
      margin: auto;
     }
     .content{
      width: 90%;
      text-align: center;
      font-size: 10px;
     }
     #connect2 p{
      width: 25%;
     }
     .footer{
      width: 100%;
      margin: auto;
      flex-wrap: wrap;
      
     }
     .connect{
      margin: auto;
      margin-bottom: 20px;
      
     }
     .foot{
      display: flex;
    }
    #foot{
     margin-top: -1px;
     padding-right: 4%;
    }
     .contact2{
      flex-wrap: wrap;
     }
     #connect2{
      border: none;
     }
     .footer h3{
      font-size: 15px;
     }
     .footer p{
      font-size: 16px;
     }
     .content h1{
      font-size: 25px;
     }
     .Service{
      font-size: 25px;
     }
  } 

  @media screen and (max-width: 600px)
   {
    .firstcontainer1{
      width: 100%;
     }
     #menu{
      display: block;
      margin-top: 8%;
     }
     .homecontainer{
      display: none;
     }
     .container1{
      width: 50%;
      padding-top: 10px
     }
     .container1 img{
      margin-left: -45%;
     }
     
     .container2{
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
     }
     .container2 h1{
      font-size: 20px;
      padding-top: 10px;
     }
     .container2 p{
      font-size: 10px;
     }
     .container2 button{
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 30px;
     }
     .container1 p{
        font-size: 7px;
        margin-left: -40%;
        padding-top: 8px;
     }
     .flex{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
     }
     .flexpart{
      width: 100%;
      background-color: white;
     }
     .flexpart img{
      width: 100%;
      margin-left: none;
      padding: 20px;
      
     }
     .flex1{
      flex-direction: column;
      width: 100%;
      margin: auto;
     }
     .flex1 img{
      width: 100%;
      padding: 20px;
      margin: auto;
     }
     .content{
      width: 90%;
      text-align: center;
      font-size: 10px;
     }
     .footer{
      width: 100%;
      margin: auto;
      flex-wrap: wrap; 
     }
     #connect2 p{
      width: 50%;
     }
     .connect{
      padding: 5px;
      margin: auto;
     }
     
     #connect2{
      border: none;
     }
     .footer h3{
      font-size: 15px;
     }
     .footer p{
      font-size: 12px;
     }
     .content h1{
      font-size: 15px;
     }
     .Service{
      font-size: 15px;
     }

  }
 



  